@media (prefers-color-scheme: dark) {
  :root {
    --block-color: rgba(24, 24, 24, 1);
    --block-color-hover: rgba(24, 24, 24, 0.5);
    --block-color-active: rgba(24, 24, 24, 0.2);
    --text-color: #ffffff;
    --char-color: #cbcbcb;
    --main-color: rgba(85, 0, 120, 1);
    --main-color-hover: rgba(85, 0, 120, 0.5);
    --main-color-active: rgba(85, 0, 120, 0.2);
    --accent-color: rgba(235, 209, 0, 1);
    --accent-color-active: rgba(235, 209, 0, 0.2);
    --bg-color: #6e6f9b;
    --blend-mode: color-burn;
    --max-width-block: 1170px;
    --max-width-content: 970px;
  }
}

@media (max-width: 1023px) {
  :root {
    --max-width-content: 700px;
  }
  a {
    font-size: 20px;
  }

  .accent-text.logo,
  .accent-text.name {
    font-size: 32px;
  }

  .accent-text.title-1 {
    font-size: 56px;
  }

  .accent-text.title-2 {
    font-size: 40px;
  }
  .accent-text.quote,
  .accent-text.quote-chars {
    font-size: 36px;
  }

  .project-title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 14px;
  }

  .subtitle,
  .point.left {
    letter-spacing: 0;
  }

  .about-text {
    font-size: 20px;
  }

  .text,
  .years-text {
    font-weight: 300;
  }

  .more-text {
    font-size: 12px;
  }
  .extra-text,
  .tag {
    font-size: 12px;
  }

  .btn-text {
    font-size: 16px;
  }

  .btn {
    margin-top: 2px;
    width: 140px;
    height: 34px;
    border-radius: 8px;
  }

  .btn-front.btn-text {
    font-size: 16px;
    border-radius: 8px;
    padding: 12px 16px;
    line-height: 31px;
  }

  .about {
    border-radius: 60px;
  }
  .contacts {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  .about-photo {
    max-width: 340px;
    max-height: 193px;
  }

  .tab-wrap img {
    width: 50px;
    height: 50px;
  }

  .tab-fr-des {
    width: 700px;
    height: 223px;
  }

  .tab-label-fr,
  .tab-label-des {
    height: 67px;
  }

  label {
    width: 335.5px;
  }
  #content1,
  #content2 {
    padding: 16px 0;
    height: 130px;
  }
  .left-col,
  .right-col {
    row-gap: 15px;
    width: 335px;
  }
  .point {
    font-size: 16px;
  }

  .icons {
    max-width: 768px;
  }
  .icons-left {
    left: -30px;
    width: 86px;
  }
  .icons-right {
    right: -30px;
    width: 86px;
  }

  .about-education {
    margin-top: 76px;
  }

  .portfolio {
    margin-bottom: 150px;
  }

  .project-bg {
    height: 100%;
    top: 10px;
  }

  .project-text {
    width: 284px;
    margin: 33px 0 37px 0;
  }

  .project-column {
    width: 284px;
    column-gap: 19px;
  }

  .project-content {
    height: 300px;
  }

  .project-img {
    max-width: 320px;
    width: auto;
    height: 100%;
  }

  .item__3d-frame__box.item__3d-frame__box--front {
    height: 100%;
  }

  .project-other-column {
    width: 568px;
  }
  .project-other-text {
    width: 568px;
  }
  .other-text {
    font-size: 12px;
    width: 420px;
  }

  .project-extra-text {
    row-gap: 4px;
  }

  .tag {
    padding: 4px 12px;
    border-radius: 8px;
  }

  .contacts-left {
    row-gap: 50px;
  }

  .contacts-social {
    row-gap: 16px;
  }

  .social-link {
    column-gap: 12px;
  }

  .contacts-right {
    width: 360px;
  }

  .qr-img {
    width: 140px;
  }

  .social-link {
    height: 32px;
  }

  .social-icon {
    height: 32px;
    width: 32px;
  }

  .social-link > .text {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  :root {
    --max-width-content: 294px;
  }
  a {
    font-size: 20px;
  }

  .accent-text.logo {
    font-size: 20px;
  }

  .accent-text.name {
    font-size: 16px;
  }

  .accent-text.title-1,
  .accent-text.title-2 {
    font-size: 24px;
  }

  .accent-text.quote,
  .accent-text.quote-chars {
    font-size: 20px;
  }

  .nav-link,
  .btn-text {
    font-weight: 500;
  }

  .project-title,
  .subtitle {
    font-weight: 700;
  }

  .project-title {
    font-size: 16px;
  }

  .subtitle {
    font-size: 10px;
  }

  .about-text {
    font-size: 14px;
  }

  .text,
  .years-text {
    font-size: 10px;
    letter-spacing: 0;
  }

  .more-text {
    font-size: 10px;
    margin-bottom: 4px;
  }
  .extra-text,
  .tag {
    font-size: 10px;
  }

  .btn-text {
    font-size: 14px;
  }

  .btn {
    margin-top: 2px;
    width: 116px;
    height: 35px;
    border-radius: 6px;
  }

  .btn-front.btn-text {
    font-size: 14px;
    border-radius: 8px;
    padding: 10px 10px;
  }

  .header {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    height: 60px;
  }

  .home {
    padding: 100px 0 70px 0;
  }

  .home-column {
    row-gap: 16px;
  }

  .button-and-text label {
    width: 118px;
    height: 40px;
  }

  #star {
    width: 118px;
    height: 40px;
    padding: 5.88px 15.4px;
  }

  .star {
    height: 28px;
    width: 28px;
  }

  #switch {
    width: 59px;
    height: 40px;
  }

  #toggle_checkbox:checked + label #switch {
    left: 59px;
  }

  .about {
    border-radius: 30px;
    padding: 42px 0;
  }

  .about-content {
    flex-direction: column;
    margin-bottom: 35px;
  }

  .about-description,
  .description-column {
    max-width: 294px;
  }

  .about-description {
    padding-top: 0px;
  }
  .description-column {
    row-gap: 4px;
    margin-top: 117px;
    text-align: center;
  }

  .about-photo {
    max-width: 188.57px;
    max-height: 107px;
    left: 53px;
    top: 60px;
  }

  .shape-1,
  .shape-2 {
    border-radius: 16px;
  }

  .tab-wrap img {
    width: 24px;
    height: 24px;
  }

  .tab-fr-des {
    width: 294px;
    height: 156px;
    column-gap: 20px;
  }

  .tab-label-fr,
  .tab-label-des {
    height: 36px;
  }

  label {
    width: 137px;
    font-size: 16px;
    padding: 8px 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  #content1,
  #content2 {
    padding: 12px 8px;
    height: 120px;
    column-gap: 6px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    top: 35px;
  }

  .point {
    padding-left: 4px;
  }
  .point.left {
    padding-left: 0px;
  }

  .hr-fr,
  .hr-des {
    width: 1px;
  }

  .left-col,
  .right-col {
    padding: 0 0px;
    row-gap: 8px;
    width: 137px;
  }
  .point {
    font-size: 12px;
  }

  .icons {
    max-width: 294px;
    height: 88px;
  }
  .icons-left {
    top: -120px;
    left: -5px;
    width: 46px;
  }
  .icons-right {
    top: -120px;
    right: -5px;
    width: 46px;
  }

  .about-education {
    margin-top: 40px;
  }

  .about-education-columns {
    margin-top: 28px;
    column-gap: 16px;
  }

  .education-column {
    row-gap: 10px;
  }

  .portfolio {
    margin-top: 65px;
    margin-bottom: 105px;
  }

  .project-img {
    position: absolute;
    max-width: 232px;
    max-height: 189px;
    width: auto;
    height: 100%;
    bottom: 80px;
    left: 6%;
  }

  .project-bg {
    top: 0;
    border-radius: 28px;
  }

  .project-text {
    width: 247px;
    margin: 24px 0;
    height: 100%;
  }

  .project-column {
    width: 247px;
  }

  .project-content {
    height: 411px;
    margin-left: 20px;
    flex-direction: column;
    position: relative;
  }

  .pr {
    margin: 8px 0 12px 0;
  }

  .item__3d-frame__box.item__3d-frame__box--front {
    height: 100%;
  }

  .project-other-column {
    width: 247px;
  }
  .project-other-text {
    width: 247px;
  }
  .other-text {
    font-size: 10px;
    width: 247px;
  }

  .project-extra-text {
    row-gap: 4px;
  }

  .tags {
    column-gap: 10px;
  }

  .arrow-button {
    width: 40px;
    height: 40px;
  }

  .arrow {
    width: 16px;
  }

  .quote-line {
    margin-top: 24px;
  }

  .quote-section {
    margin-bottom: 72px;
  }

  .contacts {
    padding: 54px 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .contacts-content {
    flex-direction: column;
    row-gap: 28px;
  }

  .contacts-left {
    row-gap: 28px;
  }

  .contacts-social {
    row-gap: 8px;
  }

  .contacts-right {
    width: 294px;
  }

  .qr-img {
    width: 100px;
  }

  .social-link {
    height: 24px;
  }
  .social-icon {
    height: 24px;
    width: 24px;
  }

  .social-link > .text {
    font-size: 14px;
  }

  .nav-list {
    display: none;
  }

  .nav.open .nav-list {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--block-color);
    z-index: 11;
    flex-direction: column;
    padding: 46px 45px 0 45px;
    row-gap: 10px;
    letter-spacing: 0;
  }

  .nav-button {
    display: flex;
    justify-content: end;
  }

  #nav-btn #nav-btn-img {
    fill: var(--text-color);
    max-width: 30px;
    max-height: 25px;
    z-index: 12;
    right: 0;
  }
}
